  <footer class="footer">
      <div class="footer-logo-box u-mb-big">
         <a class="footer-logo txt-color" href="http://#">SprinNG</a>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="footer-text">Are you a Nigerian writer not yet on our database or do you want ot update your information?</p>
        </div>
        <div class="col-md-6">
          <p class="footer-copyright">Copyright &copy; SprinNG 2022</p>
        </div>
      </div>
  </footer>
  

  
  <script>$('[data-toggle="tooltip"]').tooltip()</script>

  </body>
</html>