<%- include ("./partials/header") %>
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xl-5">
        <div class="hero-content">
          <h1 class="hero-content-heading">SprinNG Writers</h1>
          <p class="hero-content-description">Building a community of writers you want to know!</p>
          <div class="hero-btn">
            <a herf="#" class="my-btn btn-hero">Join community</a>
          </div><!-- hero-btn -->
        </div><!-- hero content -->
      </div><!--col-lg-6 -->
      
      <div class="col-lg-6 col-md-6 col-xl-7">
        <div class="hero-image shape">
          <img src="./img/Adedayo.png" class="female-figure" alt="image banner">
          <img src="./img/Emmanuel-Faith-Portraits-6b-removebg-preview.png" class="male-figure"  style="width:611px; height:433px" alt="image banner">
        </div>
      </div><!-- col-lg-6 -->
    </div><!-- row -->
  </div><!-- container -->
  </section>
  <section class="section-about">
    <div class="container">
      <div class="c-text ">
        <div class="about-spring">
            <h5 class="est_date u-mb txt-color">Est. May 2016</h5>
            <h2 class="about-heading u-mb-big">"SprinNG is a Literary Movement and Society for the Promotion, Revitalization, and Improbement of New Nigerian Generations in Writing and Literature."</h2>
        </div>
      </div>
    </div>
    <div class="container">
       <div class="c-text">
        <h2 class="heading-secondary heading-text-color u-mb">What We Do:</h2>
        <div class="row">
            <div class="col-md-4 u-mb">
              <div class="feature-box">
                  <div class="icon-box">
                     <i class="fa-solid fa-star"></i>
                  </div>
                <p>Through our website, we publish reviews, poems, stories, essays, and fiction, all of which engender the soul of the national literature</p>
              </div>
           
            </div>
            <div class="col-md-4 u-mb">
              <div class="feature-box">
                  <div class="icon-box">
                    <i class="fa-solid fa-star"></i>
                  </div>
                <p>We founded and manage a Nigerian Writers Database that host the biography of about 400 writers</p>
              </div>
            </div>
            <div class="col-md-4 u-mb">
              <div class="feature-box">
                <div class="icon-box">
                    <i class="fa-solid fa-star"></i>
                </div>
                 <p>We have a SprinNG Lit page dedicated to promoting other literary websites worldwide and informing writers of opportunities outside what SprinNG offers</p>
              </div>
            </div>
            <div class="col-md-4 u-mb">
                <div class="feature-box">
                  <div class="icon-box">
                    <i class="fa-solid fa-star"></i>
                  </div>
                  <p>We conduct an annual creative writing fellowship, providing 1 month of free mentorship to select writers with resources such as airtime, paid access to books and more, during the fellowship.</p>
                </div>
            </div>
            <div class="col-md-4 u-mb">
                <div class="feature-box">
                    <div class="icon-box">
                      <i class="fa-solid fa-star"></i>
                    </div>
                  <p>We have The SprinNG Advancement Fellowship which is a self-paced (4 weeks) fellowship that helps develop career content and improve your professional communication skills to attain academic and career goals.
                  </p>
                </div>
            </div>
            <div class="col-md-4 u-mb">
                <div class="feature-box">
                  <div class="icon-box">
                      <i class="fa-solid fa-star"></i>
                  </div>
                  <p>We discover and promote female Nigerian authors with the Annual SprinNG Women Authors Prize #SWAP – combating the unequal gender representation and participation in Nigeria's literary industry.</p>
               </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                   <div class="icon-box">
                     <i class="fa-solid fa-star"></i>
                   </div>
                  <p>We also run an annual SprinNG Poetry Contest with a unique theme to celebrate our anniversary.</p>
                </div>
            </div>
        </div>
      </div>
          
    </div> 
  </section>
  <section class="section-team" id="">
    <div class="container">
      <div class="c-text u-mb">
        <h2 class="heading-secondary">
            The SprinNG Team
        </h2>
      </div>
      <div class="row">
        <div class="col-md-3 u-mb">
            <div class="feature-box">
              <div class="feature-box-photo u-mb u-mt-sm">
                <img src="./img/shoola.jpg" alt="photo of Oyindamola Shoola">
             </div>
             <div class="feature-box-text">
                <h4 class="team-member-name">Oyindamola Shoola</h4>
                <p class="team-member-role">Team Lead</p>
             </div>
             <div class="feature-box-btn">
              <a href="" class="btn-text">Read Bio &#8594;</a>
           </div>
           </div>
          
        </div>
        <div class="col-md-3 u-mb">
          <div class="feature-box">
              <div class="feature-box-photo u-mb u-mt-sm">
                <img src="./img/kanyinsola.jpeg" alt="photo of Kanyinsola Olorunnisola">
            </div>
            <div class="feature-box-text">
                <h4 class="team-member-name">Kanyinsola Olorunnisola</h4>
                <p class="team-member-role">Co-founder</p>
            </div>
            <div class="feature-box-btn">
              <a href="" class="btn-text">Read Bio &#8594;</a>
          </div>
          </div>
        </div>
        <div class="col-md-3 u-mb">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/Abdul.jpeg" alt="photo of Abdulsalam Abdul Dante">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Abdulsalam Abdul Dante</h4>
                  <p class="team-member-role">Publications Manager</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text">Read Bio &#8594;</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 u-mb">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/ifeshoola.png" alt="photo of Ifeoluwa Shoola">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Ifeoluwa Shoola</h4>
                  <p class="team-member-role">Resource Manager</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text">Read Bio &#8594;</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/Jesudamilare.jpeg" alt="photo of Jesudamilare Adesegun-David">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Jesudamilare Adesegun-David</h4>
                  <p class="team-member-role">Strategy Consultant</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text">Read Bio &#8594;</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/Ebukun.jpeg" alt="photo of Ebukun Ogunyemi">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Ebukun Ogunyemi</h4>
                  <p class="team-member-role">SWAP Manager (PR)</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text">Read Bio &#8594;</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/Uduak.png" alt="photo of Uduak Akpan">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Uduak Akpan</h4>
                  <p class="team-member-role">Author Promotion Manager</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text">Read Bio &#8594;</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/Adedolapo.jpeg" alt="photo of Shoola">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Adedolapo Oluwadamilola Lawal</h4>
                  <p class="team-member-role">Alumni Relations Manager</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text">Read Bio &#8594;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </section>

<%- include ("./partials/footer") %>