<%- include ("./partials/header") %>
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xl-5">
        <div class="hero-content">
          <h1 class="hero-content-heading">SprinNG Writers</h1>
          <p class="hero-content-description">Building a community of writers you want to know!</p>
          <div class="hero-btn">
            <a herf="#" class="my-btn btn-hero">Join community</a>
          </div><!-- hero-btn -->
        </div><!-- hero content -->
      </div><!--col-lg-6 -->
      
      <div class="col-lg-6 col-md-6 col-xl-7">
        <div class="hero-image shape">
          <img src="./img/Adedayo.png" class="female-figure" alt="image banner">
          <img src="./img/Emmanuel-Faith-Portraits-6b-removebg-preview.png" class="male-figure"  style="width:611px; height:433px" alt="image banner">
        </div>
      </div><!-- col-lg-6 -->
    </div><!-- row -->
  </div><!-- container -->
  </section>
  <section class="section-about">
    <div class="container">
      <div class="c-text ">
        <div class="about-spring">
            <h5 class="est_date u-mb txt-color">Est. May 2016</h5>
            <h2 class="about-heading u-mb-big">"SprinNG is a Literary Movement and Society for the Promotion, Revitalization, and Improbement of New Nigerian Generations in Writing and Literature."</h2>
        </div>
      </div>
    </div>
    <div class="container">
       <div class="c-text">
        <h2 class="heading-secondary heading-text-color u-mb">What We Do:</h2>
        <div class="row">
            <div class="col-md-4 u-mb">
              <div class="feature-box">
                  <div class="icon-box">
                     <i class="fa-solid fa-star"></i>
                  </div>
                <p>Through our website, we publish reviews, poems, stories, essays, and fiction, all of which engender the soul of the national literature</p>
              </div>
           
            </div>
            <div class="col-md-4 u-mb">
              <div class="feature-box">
                  <div class="icon-box">
                    <i class="fa-solid fa-star"></i>
                  </div>
                <p>We founded and manage a Nigerian Writers Database that host the biography of about 400 writers</p>
              </div>
            </div>
            <div class="col-md-4 u-mb">
              <div class="feature-box">
                <div class="icon-box">
                    <i class="fa-solid fa-star"></i>
                </div>
                 <p>We have a SprinNG Lit page dedicated to promoting other literary websites worldwide and informing writers of opportunities outside what SprinNG offers</p>
              </div>
            </div>
            <div class="col-md-4 u-mb">
                <div class="feature-box">
                  <div class="icon-box">
                    <i class="fa-solid fa-star"></i>
                  </div>
                  <p>We conduct an annual creative writing fellowship, providing 1 month of free mentorship to select writers with resources such as airtime, paid access to books and more, during the fellowship.</p>
                </div>
            </div>
            <div class="col-md-4 u-mb">
                <div class="feature-box">
                    <div class="icon-box">
                      <i class="fa-solid fa-star"></i>
                    </div>
                  <p>We have The SprinNG Advancement Fellowship which is a self-paced (4 weeks) fellowship that helps develop career content and improve your professional communication skills to attain academic and career goals.
                  </p>
                </div>
            </div>
            <div class="col-md-4 u-mb">
                <div class="feature-box">
                  <div class="icon-box">
                      <i class="fa-solid fa-star"></i>
                  </div>
                  <p>We discover and promote female Nigerian authors with the Annual SprinNG Women Authors Prize #SWAP – combating the unequal gender representation and participation in Nigeria's literary industry.</p>
               </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                   <div class="icon-box">
                     <i class="fa-solid fa-star"></i>
                   </div>
                  <p>We also run an annual SprinNG Poetry Contest with a unique theme to celebrate our anniversary.</p>
                </div>
            </div>
        </div>
      </div>
          
    </div> 
  </section>
  <section class="section-team" id="">
    <div class="container">
      <div class="c-text u-mb">
        <h2 class="heading-secondary">
            The SprinNG Team
        </h2>
      </div>
      <div class="row">
        <div class="col-md-4 u-mb">
            <div class="feature-box">
              <div class="feature-box-photo u-mb u-mt-sm">
                <img src="./img/shoola.jpg" alt="photo of Oyindamola Shoola">
             </div>
             <div class="feature-box-text">
                <h4 class="team-member-name">Oyindamola Shoola</h4>
                <p class="team-member-role">Team Lead</p>
             </div>
             <div class="feature-box-btn">
              <a href="" class="btn-text" data-toggle="modal" data-target="#oyindamolaSoola">Read Bio &#8594;</a>
           </div>
           </div>
          
        </div>
        <div class="col-md-4 u-mb">
          <div class="feature-box">
              <div class="feature-box-photo u-mb u-mt-sm">
                <img src="./img/kanyinsola.jpeg" alt="photo of Kanyinsola Olorunnisola">
            </div>
            <div class="feature-box-text">
                <h4 class="team-member-name">Kanyinsola Olorunnisola</h4>
                <p class="team-member-role">Co-founder</p>
            </div>
            <div class="feature-box-btn">
              <a href="" class="btn-text" data-toggle="modal" data-target="#kanyinsolaOlorunnisola">Read Bio &#8594;</a>
          </div>
          </div>
        </div>
        <div class="col-md-4 u-mb">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/Abdul.jpeg" alt="photo of Abdulsalam Abdul Dante">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Abdulsalam Abdul Dante</h4>
                  <p class="team-member-role">Publications Manager</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text" data-toggle="modal" data-target="#abdulDante">Read Bio &#8594;</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 u-mb">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/ifeshoola.png" alt="photo of Ifeoluwa Shoola">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Ifeoluwa Shoola</h4>
                  <p class="team-member-role">Resource Manager</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text" data-toggle="modal" data-target="#ifeoluwaShoola">Read Bio &#8594;</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/Jesudamilare.jpeg" alt="photo of Jesudamilare Adesegun-David">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Jesudamilare Adesegun-David</h4>
                  <p class="team-member-role">Strategy Consultant</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text" data-toggle="modal" data-target="#adesegunDavid">Read Bio &#8594;</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/Ebukun.jpeg" alt="photo of Ebukun Ogunyemi">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Ebukun Ogunyemi</h4>
                  <p class="team-member-role">SWAP Manager (PR)</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text" data-toggle="modal" data-target="#ebukunOgunyemi">Read Bio &#8594;</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/adedolapo.jpg" alt="photo of Uduak Akpan">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Adedolapo O. Lawal</h4>
                  <p class="team-member-role">Alumni Relations Manager</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text" data-toggle="modal" data-target="#adedolapoLawal">Read Bio &#8594;</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/Uduak.png" alt="photo of Uduak Akpan">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Uduak Akpan</h4>
                  <p class="team-member-role">Author Promotion Manager</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text" data-toggle="modal" data-target="#uduakAkpan">Read Bio &#8594;</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/eniola.jpeg" alt="photo of Shoola">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Eniola Oni</h4>
                  <p class="team-member-role">Brand & Comm. Manager</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text" data-toggle="modal" data-target="#eniolaOni">Read Bio &#8594;</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/adedayo-bio.jpg" alt="photo of Shoola">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Terence Budu-Biney</h4>
                  <p class="team-member-role">Tech Engineer</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text" data-toggle="modal" data-target="#terenceBiney">Read Bio &#8594;</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/adedayo-bio.jpg" alt="photo of Shoola">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Adedayo Onabade</h4>
                  <p class="team-member-role">Authors Promotion Asst. - Interviewer</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text" data-toggle="modal" data-target="#adedayoOnabade">Read Bio &#8594;</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/ilerioluwa.jpeg" alt="photo of Shoola">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Ilerioluwa Olatunde</h4>
                  <p class="team-member-role">Authors Promotion Asst. - Book Reviews</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text" data-toggle="modal" data-target="#ifeoluwaShoola">Read Bio &#8594;</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="feature-box">
                <div class="feature-box-photo u-mb u-mt-sm">
                  <img src="./img/adedolapo.jpg" alt="photo of Shoola">
              </div>
              <div class="feature-box-text">
                  <h4 class="team-member-name">Precious Adetunji</h4>
                  <p class="team-member-role">Editorial & Content Creation Itern</p>
              </div>
              <div class="feature-box-btn">
                <a href="" class="btn-text" data-toggle="modal" data-target="#ifeoluwaShoola">Read Bio &#8594;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--- Shoola modal -->
 <div class="modal fade" id="oyindamolaSoola" tabindex="-1" role="dialog" aria-labelledby="oyindamolaSoolaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Oyindamola Shoola</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
                <div class="img-box">
                  <img src="./img/shoola.jpg" alt="">
                </div>
            </div>
            <div class="col-md-8">
              <p>
                <span class="text-highlight">Oyindamola Shoola</span> is a writer, feminist, and blogger. She is also the Co-founder of SprinNG, a non-profit organization dedicated to supporting Nigerian writers.
              </p>
              <p>
                In 2017 and 2018, she was awarded by Nigerian Writers Award as one of the top 100 influential Nigerian Writers under the age of 40. She published her first collection of poems titled <span class="text-highlight">Heartbeat</span> in 2015. Her second book titled <span class="text-highlight">To Bee a Honey</span> was republished by Jeanius Publishing in March 2018. Her third book, a prose poetry collection titled <span class="text-highlight">The Silence We Eat</span> was released in October 2018.
              </p>
              <p>
                Oyindamola graduated from Bronx Community College in 2017 and currently works with the Accelerated Study in Associate Programs as a Peer Mentor. She is a student at New York University, studying Organizational Behavior and Change.
              </p>
            </div>
          </div>
        </div><!-- modal body-->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div><!-- modal footer-->
      </div>
    </div>
  </div>

  <!-- kanyinsola modal -->
  <div class="modal fade" id="kanyinsolaOlorunnisola" tabindex="-1" role="dialog" aria-labelledby="kanyinsolaOlorunnisolaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Kanyinsola Olorunnisola</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
                <div class="img-box">
                  <img src="./img/kanyinsola.jpeg" alt="">
                </div>
            </div>
            <div class="col-md-8">
              <p> 
                <span class="text-highlight">Kanyinsola Olorunnisola</span> is a poet, essayist, writer of fiction and the author of a chapbook titled <span class="text-highlight">In My Country, We're All Crossdressers</span>. He is the Co-Founder of <span class="text-highlight"> SprinNG</span> and <span class="text-highlight">Nation of Mad Men</span>.

              </p>
             
            </div>
          </div>
        </div><!-- modal body-->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div><!-- modal footer-->
      </div>
    </div>
  </div>

   <!-- Abdul modal -->
   <div class="modal fade" id="abdulDante" tabindex="-1" role="dialog" aria-labelledby="abdulDanteTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Abdulsalam Abdul Dante</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
                <div class="img-box">
                  <img src="./img/Abdul.jpeg" alt="">
                </div>
            </div>
            <div class="col-md-8">
              <p> 
                <span class="text-highlight">Abdulsalam Abdul Dante</span>  is a poet, motivational writer, and literary coach. He is a graduate from the University of Ilorin and the Publications Manager for <span class="text-highlight">SprinNG</span>.
              </p>
             
            </div>
          </div>
        </div><!-- modal body-->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div><!-- modal footer-->
      </div>
    </div>
  </div>

    <!-- Ifeoluwa modal -->
    <div class="modal fade" id="ifeoluwaShoola" tabindex="-1" role="dialog" aria-labelledby="ifeoluwaShoolaTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ifeoluwa Shoola</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                  <div class="img-box">
                    <img src="./img/ifeshoola.png" alt="">
                  </div>
              </div>
              <div class="col-md-8">
                <p> 
                  <span class="text-highlight">Ifeoluwa Shoola</span>, as the Resource Manager for <span class="text-highlight">SprinNG</span>, works with both internal and external stakeholders to implement initiatives for the growth of the organization, and ensure projects are successfully completed.
                  </p>
                  <p>
                  She is also a Program Coordinator at Partnership for Public Service, a nonpartisan nonprofit organization where she supports efforts geared at making the government more effective and efficient.
                  ​</p>
                  <p>
                  In her free time, she enjoys volunteering and is passionate about community building.    Ilorin and the Publications Manager for <span class="text-highlight">SprinNG</span>.
                </p>
               
              </div>
            </div>
          </div><!-- modal body-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div><!-- modal footer-->
        </div>
      </div>
    </div>

     <!-- Jesudamilare modal -->
     <div class="modal fade" id="adesegunDavid" tabindex="-1" role="dialog" aria-labelledby="adesegunDavidTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Jesudamilare Adesegun-David</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                  <div class="img-box">
                    <img src="./img/Jesudamilare.jpeg" alt="">
                  </div>
              </div>
              <div class="col-md-8">
                <p> 
                  <span class="text-highlight">Jesudamilare Adesegun-David</span> is the Strategy Consultant for <span class="text-highlight">SprinNG</span>. He is a writer, a strategic thinker and a consummate believer in mentoring. He is a Founding Partner at <span class="text-highlight">Ennovate Lab</span> and a member of the Association of Nigerian Authors.
                  </p>

              </div>
            </div>
          </div><!-- modal body-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div><!-- modal footer-->
        </div>
      </div>
    </div>

     <!-- Ebukun modal -->
     <div class="modal fade" id="ebukunOgunyemi" tabindex="-1" role="dialog" aria-labelledby="ebukunOgunyemiTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ebukun Gbemisola Ogunyemi</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                  <div class="img-box">
                    <img src="./img/Ebukun.jpeg" alt="">
                  </div>
              </div>
              <div class="col-md-8">
                <p> 
                  <span class="text-highlight">Ebukun Gbemisola Ogunyemi</span> is a Nigerian writer, researcher, and editor interested in different forms of content writing, creative writing and expression. Her work explores diverse themes, such as the complexities of human nature and being. Her writing has been published in both digital and non-digital platforms of repute. Ebukun enjoys watching documentaries, listening to Bob Marley and discovering old and new African music
                </p>
              </div>
            </div>
          </div><!-- modal body-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div><!-- modal footer-->
        </div>
      </div>
    </div>

     <!-- Adedolapo modal -->
     <div class="modal fade" id="adedolapoLawal" tabindex="-1" role="dialog" aria-labelledby="ebukunOgunyemiTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Adedolapo O. Lawal</h5> 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                  <div class="img-box">
                    <img src="./img/adedolapo.jpg" alt="">
                  </div>
              </div>
              <div class="col-md-8">
                <p> 
                  <span class="text-highlight">Adedolapo Lawal</span> is an avid reader, a writer, and an OAP. She is a recent graduate of Ladoke Akintola University of Technology where she studied Science Laboratory Technology. During her undergraduate years, she volunteered and worked as a social media manager, content and editorial intern, and resume editor.
                  Her desire to help people and solve problems has spurred her interest in psychology and counseling. She plans to pursue a career in that field.
                </p>
              </div>
            </div>
          </div><!-- modal body-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div><!-- modal footer-->
        </div>
      </div>
    </div>

    <!-- Uduak modal -->
    <div class="modal fade" id="uduakAkpan" tabindex="-1" role="dialog" aria-labelledby="uduakAkpanTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Uduak-Estelle Akpan</h5> 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                  <div class="img-box">
                    <img src="./img/Uduak.png" alt="">
                  </div>
              </div>
              <div class="col-md-8">
                <p> 
                  <span class="text-highlight">Uduak-Estelle Akpan</span> is a book reviewer with a heart for prose and creative writing. Her writings border on choices, belief, equality, and liberty. When she is not appreciating literary works, she is working on her first draft and researching on her review blog project. She writes with the goal of encouraging openness, provoking thoughts and escaping the bondage of being safe; her works aim at helping her readers stand for what they believe in. Uduak is a member of the International Women's Writing Guild, a digital village for women writers; she has attended some literary seminars including the 2017 African Writers meet held in Lagos. As far back as 2001, Uduak won the first prize in creative writing for the International Women's Day celebration hosted by the wife of the Vice President of Nigeria with the theme "The Role of the Government in Eradicating Women Trafficking and Child Labour."
                  </p>
                  <p>
                  If <span class="text-highlight">"reading and writing"</span> was not a thing, Uduak would be peer coaching teenagers or playing the violin in an orchestra.
                </p>
              </div>
            </div>
          </div><!-- modal body-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div><!-- modal footer-->
        </div>
      </div>
    </div>

     <!-- Adedayo modal -->
     <div class="modal fade" id="eniolaOni" tabindex="-1" role="dialog" aria-labelledby="adedayoOnabadeTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Eniola Oni</h5> 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                  <div class="img-box">
                    <img src="./img/eniola.jpeg" alt="">
                  </div>
              </div>
              <div class="col-md-8">
                <p> 
                  <span class="text-highlight">Adedayo Onabade</span> is a Nigerian essayist, fiction, and poetry writer. She holds a B.A. from Olabisi Onabanjo University and an M.A. from the University of Lagos, both in English Literature. Her works have been shortlisted for SynCity's 'Poetry in times of Corona' and #TwitterWritingContest. 
                  </p>
                  <p>
                  Adedayo volunteers with <span class="text-highlight">STER (Stand to End Rape Initiative)</span>, a social justice organization that works to combat sexual and gender-based violence against women, girls, and vulnerable people. Outside writing, she is fascinated by NatGeoWild, art galleries, reading, and documentaries.
                </p>
              </div>
            </div>
          </div><!-- modal body-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div><!-- modal footer-->
        </div>
      </div>
    </div>

        <!-- Adedayo modal -->
        <div class="modal fade" id="adedayoOnabade" tabindex="-1" role="dialog" aria-labelledby="adedayoOnabadeTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Adedayo Onabade</h5> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-4">
                      <div class="img-box">
                        <img src="./img/adedayo-bio.jpg" alt="">
                      </div>
                  </div>
                  <div class="col-md-8">
                    <p> 
                      <span class="text-highlight">Adedayo Onabade</span> is a Nigerian essayist, fiction, and poetry writer. She holds a B.A. from Olabisi Onabanjo University and an M.A. from the University of Lagos, both in English Literature. Her works have been shortlisted for SynCity's 'Poetry in times of Corona' and #TwitterWritingContest. 
                      </p>
                      <p>
                      Adedayo volunteers with <span class="text-highlight">STER (Stand to End Rape Initiative)</span>, a social justice organization that works to combat sexual and gender-based violence against women, girls, and vulnerable people. Outside writing, she is fascinated by NatGeoWild, art galleries, reading, and documentaries.
                    </p>
                  </div>
                </div>
              </div><!-- modal body-->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div><!-- modal footer-->
            </div>
          </div>
        </div>


<%- include ("./partials/footer") %>