<%- include ("./partials/header") %>
<div class="container u-mt-big">
    <div class="form-container">
        <div class="row">
            <div class="col-md-6">
                <div class="login-form">
                    <h5 class="form-title u-mb">Log In to SprinNG</h5>
                    <p>Don't have an account? <a  href="/register">Sign up here</a></p>
                        <div class="form-login-icons">
                            <div class="google-icon-box">
                                <a href="/auth/google">
                                    <i class="fa-brands fa-google"></i>
                                </a>
                            </div>
                        <div class="yahoo-icon-box">
                            <i class="fa-brands fa-yahoo"></i>
                        </div>
                        </div>
                     
                        <div class="hr-divider">OR</div>
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" name="username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name="password">
                        </div>
                        <div class="c-text u-mt-sm">
                            <button class="my-btn btn-w btn-dark-green-2">Log In</button>
                        </div> 
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <!-- <p class="c-text">image to be place here!!!!</p> -->
                    <img src="./img/login-img-2.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
