<%- include ("./partials/header") %>
<div class="container">
    <div class="profile-section">
        <div class="row">
            <div class="col-md-3">
                <div class="profile">
                    <div class="author-img-box c-text">
                        <img src="./img/shoola.jpg">
                    </div>
                    <div class="author-info">
                        <h4 class="author-name">Oyindamola Shoola</h4>
                        <p class="location">Nigeria, West Africa</p>
                        <p class="personal-site"><a class="site-link" href="http://">personal blog/site link</a></p>
                        <p class="quote">"If you don't have time to read, you don't have the time (or the tools) to write. Simple as that."</p>
                    </div>
                    <div class="social-media-info c-text">
                        <a href="" class="social-link">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="" class="social-link">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="" class="social-link">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile u-mb">
                    <div class="card-top">
                        <h4 class="card-heading">Biography</h4>
                        <div class="card-icons">
                            <a href="">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        
                        </div> 
                    </div>
                   
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla mollitia ut iusto neque atque eaque odio odit quo possimus architecto vel tenetur expedita at quam natus laborum, aliquam rem cupiditate.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla mollitia ut iusto neque atque eaque odio odit quo possimus architecto vel tenetur expedita at quam natus laborum, aliquam rem cupiditate.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla mollitia ut iusto neque atque eaque odio odit quo possimus architecto vel tenetur expedita at quam natus laborum, aliquam rem cupiditate.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla mollitia ut iusto neque atque eaque odio odit quo possimus architecto vel tenetur expedita at quam natus laborum, aliquam rem cupiditate.
                </div>
                   
                <div class="profile u-mb">
                    <div class="card-top">
                        <h4 class="card-heading">Books</h4>
                        <div class="card-icons">
                            <a href="">
                                <i class="fa-solid fa-plus pad-right-min "></i>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a> 
                        </div>
                    </div>
                    <div class="books">
                        <div class="book-info">
                            <div class="book-cover-photo">
                                <i class="fa-solid fa-book"></i>
                            </div>
                            <div class="book-description">
                                <p class="short-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dicta est, quibusdam tempora temporibus voluptatem doloribus perspiciatis consequuntur sequi vitae hic, incidunt, animi nam nisi sint harum quisquam! Praesentium, hic?
                                </p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="book-cover-photo">
                                <i class="fa-solid fa-book"></i>
                            </div>
                            <div class="book-description">
                                <p class="short-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dicta est, quibusdam tempora temporibus voluptatem doloribus perspiciatis consequuntur sequi vitae hic, incidunt, animi nam nisi sint harum quisquam! Praesentium, hic?
                                </p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="book-cover-photo">
                                <i class="fa-solid fa-book"></i>
                            </div>
                            <div class="book-description">
                                <p class="short-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dicta est, quibusdam tempora temporibus voluptatem doloribus perspiciatis consequuntur sequi vitae hic, incidunt, animi nam nisi sint harum quisquam! Praesentium, hic?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile">
                    <div class="card-top">
                        <h4 class="card-heading">Articles & Publications</h4>
                        <div class="card-icons">
                            <a href="">
                                <i class="fa-solid fa-plus pad-right-min"></i>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                    </div>
                   
                    <div class="articles">
                        <div class="article-info">
                            <div class="article-cover-photo">
                                <i class="fa-solid fa-newspaper"></i>
                            </div>
                            <div class="article-description">
                                <p class="short-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dicta est, quibusdam tempora temporibus voluptatem doloribus perspiciatis consequuntur sequi vitae hic, incidunt, animi nam nisi sint harum quisquam! Praesentium, hic?
                                </p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="article-cover-photo">
                                <i class="fa-solid fa-newspaper"></i>
                            </div>
                            <div class="article-description">
                                <p class="short-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dicta est, quibusdam tempora temporibus voluptatem doloribus perspiciatis consequuntur sequi vitae hic, incidunt, animi nam nisi sint harum quisquam! Praesentium, hic?
                                </p>
                            </div>
                        </div>

                        <div class="book-info">
                            <div class="article-cover-photo">
                                <i class="fa-solid fa-newspaper"></i>
                            </div>
                            <div class="article-description">
                                <p class="short-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dicta est, quibusdam tempora temporibus voluptatem doloribus perspiciatis consequuntur sequi vitae hic, incidunt, animi nam nisi sint harum quisquam! Praesentium, hic?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>